@{
    ViewBag.Title = "Trang chủ admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>TRANG CHỦ</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/home">Home</a></li>
                    <li class="breadcrumb-item active">Trang chủ</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <p style="text-align: center; font-family: math; font-size: 36px; font-weight: bolder; color: orangered; margin-top: 27px;">GIỚI THIỆU VỀ TEASHOP</p>
            <p style="text-align: justify; font-family: math; font-size: 20px; padding: 0 89px;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Chào mừng bạn đến với TeaShop, Chúng tôi tự hào là điểm đến cho những người yêu trà,
                nơi mà mỗi gói trà mang đến một câu chuyện riêng, một hương vị độc đáo và tinh tế.
                Bạn có thể mua về những loại trà chất lượng từ chúng tôi để tự thưởng thức tại nhà,
                để ngày mới bắt đầu với một tách trà thơm ngon hoặc để làm quà tặng cho người thân yêu.<br />
                &nbsp;&nbsp;Chúng tôi luôn luôn cam kết đảm bảo chất lượng và sự tươi ngon của từng loại trà, để bạn có
                thể tạo ra những ly trà độc đáo và thú vị tại gia.<br />
                &nbsp;&nbsp;- Hotline: 0939 239 102
                <br />
                &nbsp;&nbsp;- Email: TeaShop@gmail.com
                <br />
                &nbsp;&nbsp;- GPĐK: 0313230072 - Sở KHĐT TP.HCM cấp ngày 04/04/2000
                <br />
                &nbsp;&nbsp;- Địa chỉ: 740 Trường Chinh, Tây Thạnh, Quận Tân Bình, Thành Phố Hồ Chí Minh.
                <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TeaShop được thành lập vì chúng tôi tin rằng “Hạnh phúc là được yêu thương, chia sẻ và quan tâm mỗi ngày.”
            </p>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->