@{
    ViewBag.Title = "About";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_responsive.css">

<div class="container contact_container">

    <!-- Map Container -->

    <div class="col text-center">
        <div class="section_title new_arrivals_title">
            <h2 style="font-family: system-ui; font-size: 46px; font-weight: bolder;">GIỚI THIỆU VỀ TEASHOP </h2>
        </div>
    </div>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="row g-3">
                        <div class="col-6 text-end">
                            <img class="img-fluid bg-white w-100 mb-3 wow fadeIn" data-wow-delay="0.1s" src="~/Content/assets/images/Hinh/gioithieu4.jpg" alt="">
                            <img class="img-fluid bg-white w-50 wow fadeIn" data-wow-delay="0.2s" src="~/Content/assets/images/Hinh/gioithieu3.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid bg-white w-50 mb-3 wow fadeIn" data-wow-delay="0.3s" src="~/Content/assets/images/Hinh/gioithieu6.jpg" alt="">
                            <img class="img-fluid bg-white w-100 wow fadeIn" data-wow-delay="0.4s" src="~/Content/assets/images/Hinh/gioithieu2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">

                    <div class="row g-3 mb-4">
                        <div class="col-sm-4">
                            <img class="img-fluid bg-white w-100" src="~/Content/assets/images/Hinh/gioithieu1.jpg" alt="">
                        </div>
                        <div class="col-sm-8">
                            <h3>TeaShop - Bạn có thể khám phá và tận hưởng sự đa dạng của các loại trà!</h3>
                            <p class="mb-0">
                                Chào mừng bạn đến với TeaShop, Chúng tôi tự hào là điểm đến cho những người yêu trà,
                                nơi mà mỗi gói trà mang đến một câu chuyện riêng, một hương vị độc đáo và tinh tế.
                                Bạn có thể mua về những loại trà chất lượng từ chúng tôi để tự thưởng thức tại nhà,
                                để ngày mới bắt đầu với một tách trà
                                thơm ngon hoặc để làm quà tặng cho người thân yêu.
                            </p></br>
                            <p class="mb-0">
                                Chúng tôi luôn luôn cam kết đảm bảo chất lượng và sự tươi ngon của từng loại trà,
                                để bạn có thể tạo ra những ly trà
                                độc đáo và thú vị tại gia.
                            </p>
                        </div>
                    </div>
                    <div class="border-top mb-4"></div>
                    <div class="row g-3">
                        <div class="col-sm-8">
                            <h3>TeaShop được thành lập vì chúng tôi tin rằng</h3>
                            <p class="mb-0">“Hạnh phúc là được yêu thương, chia sẻ và quan tâm mỗi ngày.”</p></br>
                            <p class="mb-0">
                                Hãy đến TeaShop và khám phá thế giới đa dạng của cà phê hạt và các sản phẩm liên quan khác!
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <img class="img-fluid bg-white w-100" src="~/Content/assets/images/Hinh/gioithieu5.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    @section scripts
{
        <script src="~/Content/assets/js/contact_custom.js"></script>
    }
